<app-header></app-header>
<section id="vision" class="section-bg" >
    <!-- <div class="demo ">
       <div class="container" >
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-6 col-sm-6">
                    <div class="img-responsive container-fluid cf"><img src='/assets/img/oracleebusinesserp.png'
                    height="90px;"  style="border-radius: 10px; " ></div>
                       <h4 style="text-align: center; color:red; margin-top: 20px;">( ERP )</h4>
                            <p style="text-align: center;">Emicon, a leading Oracle Enterprise Services and Solution provider, offers customers
                            with cross-business capabilities spanning enterprise resource planning, customer relationship
                            management and supply chain planning. The practices evolved for implementation and post-system
                            implementation support are result of experience gained by team through multiple such engagements
                            with Fortune500 clients globally.
                            </p>
                            <p style="text-align: center;">We believe in bringing value to the table in terms of process and application knowledge
                             coupled with typical IT audit requirements. Our methodologies have been tuned to ensure on-time
                              and within budget project execution. We help the organizations in planning and managing the 
                              change management resulting from system and process transitions. We provide services in
                            </p> 
                </div>
                <div class="col-md-6 col-sm-6" >
                    <img class="img-responsive img-fluid" src="/assets/img/EBusinessSuite.png">
                </div>
            </div>
                <div class="row" style="margin-top: 100px;">
                    <div class="col-md-6 col-sm-6" >
                        <img class="img-responsive img-fluid" src="/assets/img/oraclecloudsolution23.jpg" >
                    </div>
                    <div class="col-md-6 col-sm-6" id="myDiv" >
                          <p (click)="myFunction()">  <i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> &nbsp; &nbsp;<b> Oracle financial Management</b></p>
                          <p (click)="myFunctionn()">  <i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> &nbsp; &nbsp; <b>Oracle Procurement and Supply Chain Management</b></p>
                          <p (click)="myFunctionnn()">  <i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>&nbsp; &nbsp; <b>Oracle Human Capital Management</b></p>
                          <p (click)="myFunctionnnn()">  <i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>&nbsp; &nbsp; <b>Oracle Manufacturing</b></p> 
                          <p (click)="myFunctionnnnn()">  <i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>&nbsp; &nbsp; <b>Oracle Projects</b></p> 
                        
                    </div>
                </div>
        </div>    

        <div class="container" style="background-color:#F5F5F5;  border-radius: 10px;">
            <div id="myDIV" style="margin-top: 130px; width: 80%; display: none;">
                <h2 style="color:red; ">- Oracle Financial Management -</h2>
                    <p><b>Oracle Financial Management supports organization to automate financial business processes and 
                        ensure control is implemented in terms of approvals and limits. Oracle E-Business Suite Financials 
                        allow you to work smarter, increase efficiency and reduce back-office costs with standardized
                        processes for shared services, productivity tools, and integrated performance management. Oracle
                        Financial Management Suite Consists of following modules:</b></p>
                        <h3  style="color: red;">Modules</h3>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> General Ledger </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> General Ledger </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> General Ledger </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Accounts Payable </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Accounts Payable </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Accounts Payable </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Accounts Receivable </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Accounts Receivable </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Accounts Receivable </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Fixed Assets </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Fixed Assets </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Fixed Assets </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Cash Management </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Cash Management </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Cash Management </p>
                        <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Treasury Management </p>
                        <p>The above mentioned modules are supported by internet enabled modules like Internet Expenses, 
                            i-Receivables and Advanced Collections which help organizations to roll them easily for their 
                            employees.
                        </p>
                        <p>The diverse tax requirements of geo can be mapped within a centralized tax engine provided by
                            Oracle EBS viz. E-Business Tax.
                        </p>
                        <p>The system supports multiple accounting conventions followed across geos which can be 
                            customized as per the client needs through Sub-ledger Accounting module.
                        </p>
            </div>
        </div>

        <div class="container">
            <div id="demo" style="margin-top: 130px; width: 80%; display: none;">
                <h2 style="color:red; ">- Oracle Procurement and Supply Chain Management -</h2>
                    <p><b>Oracle Supply Chain Management supports the whole order to cash and procure to 
                        pay business processes, capturing demand from any channel, providing inbound and outbound 
                        transportation management, and supporting large, complex distribution operations. Our 
                        expertise is based on Oracle platform that optimize performance, streamline support and
                        maximize return on your investment. Based on the system capabilities and our experience in 
                        providing solutions, customer can get accurate view of the entire Supply Chain execution
                        process that would aid in planning, managing and controlling the flow and storage of goods
                        & services.
                    </b></p>
                    <p>Oracle Supply Chain Management and Procurement consist of following modules:</p>
                        <h3  style="color: red;">Modules</h3>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Purchasing </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Inventory Management </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Order Management </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> i-Procurement </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> i-Supplier </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Procurement Contracts for Purchasing </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Services Procurement for Purchasing </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Sourcing for Oracle Purchasing </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Supplier Lifecycle Management </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Warehouse Management </p>
                            <h3  style="color: red;">Features</h3>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Advanced Approval Capability </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Position hierarchy support </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Lean manufacturing and advanced procurement solutions </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Synchronize production with product demand and supplies, automate the procurement cycle and enhance the responsiveness of the supply chain </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Change management for Internal Requisitions </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Applications for transportation management and network optimization </p>
                            <h3  style="color: red;">Benefits</h3>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Requesters can quickly purchase the items they need with an easy to use interface that provides all the information they require </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Accelerate innovation with best-in-class product lifecycle management and complete product value chain management </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Proven solutions that have shorter implementation times which means quicker ROI </p>
                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Pre-integrated applications on common architecture leading to lower administrative costs </p>
            </div>
        </div>
                                        
        <div class="container">
            <div id="demoo" style="margin-top: 130px; width: 80%; display: none;">
                <h2 style="color:red; ">- Oracle Human Capital Management -</h2>
                <p><b>Oracle HCM delivers best-in-class human resources functionality that enables you 
                    to increase productivity, accelerate business performance, and lower your cost of ownership.
                    Oracle HCM enables the organizations to proactively manage HR operations while focusing on 
                    strategic business initiatives. Emicon has a mature HCM practice team which has successfully
                    completed several full life-cycle Oracle HRMS implementations with Fortune 500 clients. With
                    the knowledge about business practices and application, our consultants bring on the table
                    required expertise to help the HR managers realize their desires in implementing leading HR
                    practices supported by a world class system.
                </b></p>
                <p>Oracle Human Capital Management consists following modules:</p>
                <h3  style="color: red;">Modules</h3>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Core Human Resources (HR) </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Payroll </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Self-Service Human Resources (SSHR) </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Performance Management (Appraisal Cycles) </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Time and Labor (Time and Attendance Solution) </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Learning Management (Learning path within organization) </p>
                <h3  style="color: red;">Features</h3>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Segmented data validation to support lines of business or geography </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Basic position management </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Absence management </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> New hire monitoring </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Intuitive support for complex global transfers </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Analytics embedded in business processes </p>
                <h3  style="color: red;">Benefits</h3>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Efficiently and effectively manage a globally integrated workforce </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Deliver immediate value by making talent foundational to all business processes </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Reduce labor & administrative costs with business process models and design patterns </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Integrated Mobile Applications with Oracle Human Resource Management </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Human Resource Management 2 ways Integration with Customer Recruitment </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Portal Customized Department wise Employee Budget Solutions </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Completely Online and Very Efficient Environment with Oracle Self Service </p>
                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Convert paper based forms to e-forms through self service </p>
            </div>
        </div>

        <div class="container">
            <div id="demooo" style="margin-top: 130px; width: 80%; display: none;">
                <h2 style="color:red; ">- Oracle Manufacturing -</h2>
                    <p><b>Oracle Manufacturing solution enables customer to optimize production 
                        capacity with efficient data model ensuring accurate view of manufacturing 
                        process, that enhances your ability to configure customer orders, optimize 
                        subcontracting and manage cost, quality. All these can significantly contribute
                        towards increase return on your investment.
                    </b></p>
                    <p>Oracle Manufacturing consist of following module:</p>
                <h3  style="color: red;">Modules</h3>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Discrete Manufacturing </p>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Projects / Contract Manufacturing </p>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Process Manufacturing </p>
                <h3  style="color: red;">Features</h3>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Mitigate risk and enforce compliance across the extended supply chain
                        to drive improvement and ensure adherence to customer requirements
                    </p>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Improves collaboration with top-to-bottom supply chain and financial 
                        integration
                    </p>
                <h3  style="color: red;">Benefits</h3>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Drive operational excellence using comprehensive supply chain applications
                         that support demand-driven Lean manufacturing
                    </p>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Improve collaboration with top-to-bottom supply chain and financial integration </p>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Reduce labor & administrative costs with business process models and design patterns </p>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Mitigate risk and enforce compliance across the extended supply chain to drive improvement
                        and ensure adherence to customer requirements 
                    </p>
            </div>
        </div>


        <div class="container">
            <div id="demoooo" style="margin-top: 130px; width: 80%; display: none;">
                <h2 style="color:red; ">- Oracle Projects -</h2>
                    <p><b>Emicon supports the full lifecycle of Project and portfolio management with a single, accurate view of all project-related
                        activities. Emicon is having a team of industry experts who have delivered several Oracle Projects implementations 
                        across Construction, IT/Financial Services, Real Estate and Utlities industry sector. Oracle Projects gives the user
                        an ability to effectively track project based costs, billing, tasks, milestones, contractual terms and Earned Value
                        Management.
                    </b></p>
                    <p>Oracle Projects consist of following modules:</p>
                <h3  style="color: red;">Modules</h3>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Project Billing </p>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Project Costing </p>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Project Collaboration </p>
                    <h3  style="color: red;">Features</h3>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Easily integrates with other Oracle E-Business Suite applications, including Oracle Financials, 
                        Oracle Supply Chain Management, Oracle Human Resources Management, Oracle Customer Relationship Management, Oracle 
                        Sales, Oracle Advanced Procurement and the Oracle Collaboration Suite to complete end-to-end business processes </p>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Address the unique challenges facing the most project-centric organizations and departments </p>
                    <h3  style="color: red;">Benefits</h3>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Provides holistic planning capabilities, from long-range aggregate planning to short-term detail scheduling
                    </p>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Accurate view of the entire planning process </p>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Optimize the flow of materials, cash, and information </p>
                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Speed up implementation, optimize performance, streamline support, and maximize return on your investment </p>
                </div>
            </div>
    </div> -->
    <div class="container-fluid" style="  padding-left: 0rem; padding-right: 0rem; overflow-x: hidden;">
        <header>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div  style="background-image:url('/assets/img/oerp.jpg')" class="img-fluid carousel-item active">
                  <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-3" style="color: white; font-size: 4vw; font-weight: 900; text-align: left; margin-left: -50px;">Oracle E-Business Suite</h3>
                  </div>
                </div>
              </div>
              </div>
          </header>
          <div class="row">
              <div class="col-md-1 col-lg-1 col-xl-1"></div>
              <div class="col-md-10 col-lg-10 col-xl-10">
                  <p style="font-weight: 600; margin-top:20px;"> Emicon, a leading Oracle Enterprise Services and Solution provider, offers customers with
                     cross-business capabilities spanning enterprise resource planning, customer relationship management and supply chain planning. The practices evolved for
                      implementation and post-system implementation support are result of experience gained by team through multiple such engagements with Fortune500 clients 
                      globally.
                </p>
                <p style="font-weight: 600; margin-bottom:50px;">
                    We believe in bringing value to the table in terms of process and application knowledge coupled with typical IT audit requirements. Our methodologies have 
                    been tuned to ensure on-time and within budget project execution. We help the organizations in planning and managing the change management resulting from
                     system and process transitions. We provide services in
                </p>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1"></div>
          </div>
          <div class="row" style="background-image: linear-gradient(to left, #e9fffe, #e6fefe, #e2fdfd, #dffbfd, #dcfafd); padding: 10px;">
            <div class="col-md-2 col-lg-2 col-xl-2"></div>
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" style="margin-top:80px;">
                <img src="/assets/img/oraclecloudsolution23.jpg" class="img-fluid" style="border-radius: 5%;">
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" style="margin-top:80px; ">
                <h3>We provide services in:</h3>
                <ul style="font-weight: 700; margin-top:50px;">
                    <li>Oracle financial Management</li>
                    <li>Oracle Procurement and Supply Chain Management</li>
                    <li>Oracle Human Capital Management</li>
                    <li>Oracle Manufacturing</li>
                    <li>Oracle Projects</li>
                </ul>   
                <button class="box">
                    <span class="box__content-wrap">
                      <span class="box__content" style="font-weight: 600;">
                        Read More
                      </span>
                    </span>
                  </button>  
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2"></div>
          </div>
    </div>



    <div class="container-fluid" style="margin-top: 50px;">
        <h2 class="text-center" style="font-weight: 600">Our Services are</h2>
    <tabset active="active">
        <tab index="0" heading="Oracle financial Management">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6" style="margin-top:100px">
                    <h4>Oracle financial Management</h4>
                    <h6>OFM supports organization to automate financial business</h6>
                    <p>
                        Oracle Financial Management supports organization to automate financial business processes and ensure control is implemented in terms of approvals 
                        and limits. Oracle E-Business Suite Financials allow you to work smarter, increase efficiency and reduce back-office costs with standardized processes
                         for shared services, productivity tools, and integrated performance management. Oracle Financial Management Suite Consists of following modules:
                    </p>
                    <ul style="font-size: 2vh;">
                        <li>General Ledger</li>
                        <li>Accounts Payable</li>
                        <li>Accounts Receivable</li>
                        <li>Oracle Fixed Assets</li>
                        <li>Oracle Cash Management</li>
                        <li>Oracle Treasury Managemen</li>
                    </ul>
                    <p>The above mentioned modules are supported by internet enabled modules like Internet Expenses, i-Receivables and Advanced Collections which help
                        organizations to roll them easily for their employees</p>
                        <p>The diverse tax requirements of geo can be mapped within a centralized tax engine provided by Oracle EBS viz. E-Business Tax.</p>
                        <p>The system supports multiple accounting conventions followed across geos which can be customized as per the client needs through Sub-ledger Accounting module.</p>
                </div>
                <div class="col-md-4"><img class="img-fluid" style="margin-top:150px" src="/assets/img/ofm1.jpg">
                </div>
            </div>
        </tab>
        <tab index="1" heading="Oracle Procurement and Supply Chain Management">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6" style="margin-top:100px">
                    <h4>Oracle Procurement and Supply Chain Management</h4>
                    <h6>OFM supports organization to automate financial business</h6>
                    <p>
                        Oracle Supply Chain Management supports the whole order to cash and procure to pay business processes, capturing demand from any channel, providing inbound 
                        and outbound transportation management, and supporting large, complex distribution operations. Our expertise is based on Oracle platform that optimize
                         performance, streamline support and maximize return on your investment. Based on the system capabilities and our experience in providing solutions, 
                         customer can get accurate view of the entire Supply Chain execution process that would aid in planning, managing and controlling the flow and storage of
                          goods & services.
                    </p>
                    <h3>Modules</h3>
                    <ul style="font-size: 2vh;">
                        <li>Oracle Purchasing</li>
                        <li>Oracle Inventory Management</li>
                        <li>Oracle Order Managementi-Procurement</li>
                        <li>i-Supplier</li>
                        <li>Oracle Procurement Contracts for Purchasing</li>
                        <li>Oracle Services Procurement for Purchasing</li>
                        <li>Oracle Sourcing for Oracle Purchasing</li>
                        <li>Supplier Lifecycle Management</li>
                        <li>Oracle Warehouse Management</li>
                    </ul>
                    <h3>Features</h3>
                    <ul style="font-size: 2vh;">
                        <li>Advanced Approval Capability</li>
                        <li>Position hierarchy support</li>
                        <li> Lean manufacturing and advanced procurement solutions</li>
                        <li>Synchronize production with product demand and supplies, automate the procurement cycle and enhance the responsiveness of the supply chain</li>
                        <li>Change management for Internal Requisitions</li>
                        <li>Applications for transportation management and network optimization</li>
                    </ul>
                    <h3>Benifits</h3>
                    <ul style="font-size: 2vh;">
                        <li>Requesters can quickly purchase the items they need with an easy to use interface that provides all the information they require</li>
                        <li>Accelerate innovation with best-in-class product lifecycle management and complete product value chain management</li>
                        <li> Proven solutions that have shorter implementation times which means quicker ROI</li>
                        <li>Pre-integrated applications on common architecture leading to lower administrative costs</li>
                    </ul>
                </div>
                <div class="col-md-4"><img class="img-fluid" style="margin-top:150px" src="/assets/img/scm.jpg" >
                </div>
            </div>        
        </tab>
        <tab index="2" heading="Oracle Human Capital Management">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6" style="margin-top:100px">
                    <h4>Oracle Human Capital Management</h4>
                    <h6>OFM supports organization to automate financial business</h6>
                    <p>
                        Oracle HCM delivers best-in-class human resources functionality that enables you to increase productivity, accelerate business performance, and
                         lower your cost of ownership. Oracle HCM enables the organizations to proactively manage HR operations while focusing on strategic business initiatives.
                          Emicon has a mature HCM practice team which has successfully completed several full life-cycle Oracle HRMS implementations with Fortune 500 clients. With 
                          the knowledge about business practices and application, our consultants bring on the table required expertise to help the HR managers realize their desires
                           in implementing leading HR practices supported by a world class system.
                    </p>
                    <h3>Modules</h3>
                    <ul style="font-size: 2vh;">
                        <li>Oracle Core Human Resources (HR)</li>
                        <li>Oracle Payroll</li>
                        <li> Oracle Self-Service Human Resources (SSHR)</li>
                        <li>Oracle Performance Management (Appraisal Cycles)</li>
                        <li>Oracle Time and Labor (Time and Attendance Solution)</li>
                        <li>Oracle Learning Management (Learning path within organization)</li>
                    </ul>
                    <h3>Features</h3>
                    <ul style="font-size: 2vh;">
                        <li>Segmented data validation to support lines of business or geography</li>
                        <li>Basic position management</li>
                        <li> Lean manufacturing and advanced procurement solutions</li>
                        <li>Absence management</li>
                        <li>New hire monitoring</li>
                        <li>Intuitive support for complex global transfers</li>
                        <li>Analytics embedded in business processes</li>
                    </ul>
                    <h3>Benifits</h3>
                    <ul style="font-size: 2vh;">
                        <li>Efficiently and effectively manage a globally integrated workforce</li>
                        <li>Deliver immediate value by making talent foundational to all business processes</li>
                        <li> Reduce labor & administrative costs with business process models and design patterns</li>
                        <li> Integrated Mobile Applications with Oracle Human Resource Management</li>
                        <li> Oracle Human Resource Management 2 ways Integration with Customer Recruitment</li>
                        <li> Portal Customized Department wise Employee Budget Solutions</li>
                        <li> Completely Online and Very Efficient Environment with Oracle Self Service</li>
                        <li>Convert paper based forms to e-forms through self service</li>
                    </ul>
                </div>
                <div class="col-md-4"><img class="img-fluid" style="margin-top:150px" src="/assets/img/ohcm.png">
                </div>
            </div>
        </tab>
        <tab index="3" heading="Oracle Manufacturing">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6" style="margin-top:100px">
                    <h4>Oracle Manufacturing</h4>
                    <h6>OFM supports organization to automate financial business</h6>
                    <p>
                        Oracle Manufacturing solution enables customer to optimize production capacity with efficient data model ensuring accurate view of manufacturing process, 
                        that enhances your ability to configure customer orders, optimize subcontracting and manage cost, quality. All these can significantly contribute towards 
                        increase return on your investment.
                    </p>
                    <h3>Modules</h3>
                    <ul style="font-size: 2vh;">
                        <li>Discrete Manufacturing</li>
                        <li> Projects / Contract Manufacturing</li>
                        <li> Process Manufacturing</li>
                    </ul>
                    <h3>Features</h3>
                    <ul style="font-size: 2vh;">
                        <li>Mitigate risk and enforce compliance across the extended supply chain to drive improvement and ensure adherence to customer requirements</li>
                        <li> Improves collaboration with top-to-bottom supply chain and financial integration</li>
                    </ul>
                    <h3>Benifits</h3>
                    <ul style="font-size: 2vh;">
                        <li>Drive operational excellence using comprehensive supply chain applications that support demand-driven Lean manufacturing</li>
                        <li>Improve collaboration with top-to-bottom supply chain and financial integration</li>
                        <li> Reduce labor & administrative costs with business process models and design patterns</li>
                        <li>  Mitigate risk and enforce compliance across the extended supply chain to drive improvement and ensure adherence to customer requirements</li>
                    </ul>
                </div>
                <div class="col-md-4"><img class="img-fluid" style="margin-top:150px" src="/assets/img/ofm.png">
                </div>
            </div>
        </tab>
        <tab index="3" heading="Oracle Projects">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6" style="margin-top:100px">
                    <h4>Oracle Projects</h4>
                    <h6>OFM supports organization to automate financial business</h6>
                    <p>
                        Emicon supports the full lifecycle of Project and portfolio management with a single, accurate view of all project-related activities. Emicon is having a
                         team of industry experts who have delivered several Oracle Projects implementations across Construction, IT/Financial Services, Real Estate and Utlities
                          industry sector. Oracle Projects gives the user an ability to effectively track project based costs, billing, tasks, milestones, contractual terms and 
                          Earned Value Management
                    </p>
                    <h3>Modules</h3>
                    <ul style="font-size: 2vh;">
                        <li> Oracle Project Billing</li>
                        <li>  Oracle Project Costing</li>
                        <li> Oracle Project Collaboration</li>
                    </ul>
                    <h3>Features</h3>
                    <ul style="font-size: 2vh;">
                        <li> Easily integrates with other Oracle E-Business Suite applications, including Oracle Financials, Oracle Supply Chain Management, Oracle Human Resources
                             Management, Oracle Customer Relationship Management, Oracle Sales, Oracle Advanced Procurement and the Oracle Collaboration Suite to complete end-to-end 
                             business processes</li>
                        <li>Address the unique challenges facing the most project-centric organizations and departments</li>
                    </ul>
                    <h3>Benifits</h3>
                    <ul style="font-size: 2vh;">
                        <li>Provides holistic planning capabilities, from long-range aggregate planning to short-term detail scheduling</li>
                        <li>Accurate view of the entire planning process</li>
                        <li> Optimize the flow of materials, cash, and information</li>
                        <li> Speed up implementation, optimize performance, streamline support, and maximize return on your investment</li>
                    </ul>
                </div>
                <div class="col-md-4"><img class="img-fluid" style="margin-top:150px" src="/assets/img/ofm.png">
                </div>
            </div>
        </tab>
    </tabset>
</div>
</section>