<app-header></app-header>
<section id="about">

    <!-- <div class="container-fluid">
      <div class="row">

        <div class="col-lg-5 col-md-6">
          <div class="about-img" style="margin-top: 20vh;">
            <img style="border: 10px solid white;" src="/assets/img/about-img.jpg" alt="">
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content">
            <h2 style="color: #0a98c0;" class="text-center heading">- Our Mission -</h2>
            <p class="text-center subheading">Realize Your Potential And
                Transform Your Business</p>
            <h5 class="text-center">Company Overview</h5>
            
            <p><b style="color: #0a98c0;">'Emicon</b> – Eminent Consulting Advisory Services LLP’ is highly passionate and dedicated to innovation and deliver high value to clients across the world. Being an Application Consulting Services company, we cater entire suite of Oracle apps, Microsoft SharePoint, Mobile apps services including end to end implementation, training, support, custom development, training, upgrades and more as per your requirements. Along with catering extended offering segments such as business intelligence and decision making solutions, we always strive to help organizations and businesses to make full use of their investments in Oracle applications (EBS) and other business solution platforms and attain optimum positives of automation. Well to remain on course, our primary niche is of growing and expanding into a hub of excellence for consulting in enterprise resource planning application services.</p>
            <p>The great combination of rich experience coupled with high dedication and passion along with an efficient bunch of professionals has catapulted Emicon into a recognized and reliable source in a very short span of time period. We have strong and established presence in Middle East region (Bahrain, Qatar, Dubai), UK, India, and are in the process of spreading our wings in other geographies.</p>
             <p>Along with delivering ERP consulting solutions, we have thoroughly executed projects in leading verticals like Construction, Real Estate, Hospitals, Public Sector and others. Our strive to deliver solutions within time and of top notch quality has assisted us to retain the confidence of all our customers, build a long lasting relationship with them and further create a new chain resulting in continued opportunities. Contact us right away to know more at <a href="mailto:business@emiconglobal.com">business@emiconglobal.com</a></p>
          </div>
        </div>
      </div>
    </div> -->

    <div class="container-fluid" style="font-size: 2vh;">
      
      <div class="row" style="margin-top:200px;">
        <img src="/assets/img/our.png" class="img-fluid" style=" background-repeat:no-repeat;" >
        <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;">
          <h1 style="font-weight: 400;" >Our Story</h1><br>
          <h4 >Realize Your Potential And Transform Your Business</h4>  
        </div> -->
      </div>
      <div class="row" style="margin-top: 2%;">
        <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
          <p><b style="color: #0a98c0;">'Emicon</b> – Eminent Consulting Advisory Services LLP’ is highly passionate and dedicated to innovation and deliver high value to clients across the world. Being an Application Consulting Services company, we cater entire suite of Oracle apps, Microsoft SharePoint, Mobile apps services including end to end implementation, training, support, custom development, training, upgrades and more as per your requirements. Along with catering extended offering segments such as business intelligence and decision making solutions, we always strive to help organizations and businesses to make full use of their investments in Oracle applications (EBS) and other business solution platforms and attain optimum positives of automation. Well to remain on course, our primary niche is of growing and expanding into a hub of excellence for consulting in enterprise resource planning application services.</p>
           <p>Along with delivering ERP consulting solutions, we have thoroughly executed projects in leading verticals like Construction, Real Estate, Hospitals, Public Sector and others. Our strive to deliver solutions within time and of top notch quality has assisted us to retain the confidence of all our customers, build a long lasting relationship with them and further create a new chain resulting in continued opportunities. Contact us right away to know more at <a href="mailto:business@emiconglobal.com">business@emiconglobal.com</a></p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
      </div>
      <div class="row" style="margin-top: 2%;" style="background-image: linear-gradient(to left, #e9fffe, #e6fefe, #e2fdfd, #dffbfd, #dcfafd);">
        <div class="col-md-2 col-lg-2 col-xl-2"></div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" style="padding: 2%;">
        <img src="/assets/img/about-img.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" style="margin-left: 10px;">
        <h1 style="font-weight: 200; margin-top:10%;">Our Office</h1>
        <p>Along with delivering ERP consulting solutions, we have thoroughly executed projects in leading verticals like Construction, Real Estate, Hospitals, Public Sector and others. Our strive to deliver solutions within time and of top notch quality has assisted us to retain the confidence of all our customers, build a long lasting relationship with them and further create a new chain resulting in continued opportunities. Contact us right away to know more at <a href="mailto:business@emiconglobal.com">business@emiconglobal.com</a></p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2"></div>
      </div>
      <div class="row" style="padding:7%; background-color: rgba(215, 251, 252,0.2);">
        <div class=" col-md-3 col-lg-3 col-xl-3"></div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h1 style="font-weight: 100;">Where Does the Name "Emicon" Come From?</h1>
          <div style="border: 2px solid rgba(3, 240, 252,0.3); margin-top: 3%; padding:25px; background-color: white;"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, nulla quam aliquid aperiam repellat sit consectetur odio iusto. Quibusdam, adipisci saepe illum similique veritatis enim fugiat quo quia temporibus esse?</div>
        </div>
        <div class=" col-md-3 col-lg-3 col-xl-3"></div>
      </div>
    </div>

  </section><!-- #about -->