

      <div class="page-footer">
        <div class="page-footer-item-1"><h3 class=" text-uppercase mt-3 mb-4">Get In Touch</h3><br>
          <ul class="list-unstyled" >
            <li>
              <a href=""><i style="color:lightgreen"class="fa fa-phone"></i>Phone: +91-62390-48396</a><br>
            </li>
            <li>
              <a href=""><i style="color:lightskyblue"class="fa fa-envelope"></i>Email:business@emiconglobal.com</a>
            </li>
            <li>
              <a href="http://maps.google.com?q=30.708005, 76.685114"><i style="color:lightcoral" class="fa fa-address-card-o"></i>;Address: D-268, Industrial Area, Phase 8 B, SAS Nagar (Mohali), Punjab – 160055</a>
            </li>
            <li>
              <a href="#!"><i style="color:lightcoral" class="fa fa-address-card-o"></i>Address: D-268, Industrial Area, Phase 8 B, SAS Nagar (Mohali), Punjab – 160055</a>
            </li>
          </ul>
        </div>
        <div class="page-footer-item-2"><h3 class=" text-uppercase mt-3 mb-4">QuickLinks</h3>
          <ul class="list-unstyled" style="font-size: 2vh;">
            <li>
              <a href="#!"><i class="fa fa-angle-right"></i>Home</a><br>
            </li>
            <li>
              <a href="#!"><i class="fa fa-angle-right"></i>Company Overview</a><br>
            </li>
            <li>
              <a href="#!"><i class="fa fa-angle-right"></i>Executive Leadership</a><br>
            </li>
            <li>
              <a href="#!"><i class="fa fa-angle-right"></i>Vision, Mission & Values</a><br>
            </li>
            <li>
              <a href="#!"><i class="fa fa-angle-right"></i>Careers</a><br>
            </li>
            <li>
                <a href="#!"><i class="fa fa-angle-right"></i>Our Clients</a><br>
            </li>
            <li>
                <a href="#!"><i class="fa fa-angle-right"></i>Contact Us</a><br>
            </li>
          </ul>
        </div>
        <div class="page-footer-item-3"><h3 class=" text-uppercase mt-3 mb-4">Solutions</h3>  
          <ul class="list-unstyled" style="font-size: 2vh;">
            <li>
                <a href="#!"><i class="fa fa-angle-right"></i>Cloud Computing</a><br>
            </li>
            <li>
                <a href="#!"><i class="fa fa-angle-right"></i>Oracle E-Business Suite (ERP)</a><br>
            </li>
            <li>
                <a href="#!"><i class="fa fa-angle-right"></i>Business Intelligence (BI)</a><br>
            </li>
            <li>
                <a href="#!"><i class="fa fa-angle-right"></i>Hyperion (EPM)</a><br>
            </li>
          </ul>
        </div>
        <div class="page-footer-item-4"><h3 class=" text-uppercase mt-3 mb-4">Services</h3>
      
          <ul class="list-unstyled" style="font-size: 2vh;">
            <li>
              <a href="#!"><i class="fa fa-angle-right"></i>Oracle R12 Upgrade Services</a><br>
            </li>
            <li>
              <a href="#!"><i class="fa fa-angle-right"></i>Implementation</a><br>
            </li>
            <li>
              <a href="#!"><i class="fa fa-angle-right"></i>Health Check and Audit Services</a><br>
            </li>
            <li>
              <a href="#!"><i class="fa fa-angle-right"></i>Program Management</a><br>
            </li>
            <li>
                <a href="#!"><i class="fa fa-angle-right"></i>Managed Services</a><br>
            </li>
            <li>
                <a href="#!"><i class="fa fa-angle-right"></i>Training</a><br>
            </li>
          </ul>
        </div>
        <div class="footer-copyright text-center">
          <p> © 2018 Copyright:
            2018 Emicon Advisory Services LLP. All Rights Reserved.
          </p>
        </div>
            
      </div>