<app-header></app-header>
<section id="hc" class="section-bg" style=" padding-bottom: 40px;" >
    <!-- <div class="demo "> -->
        <!-- <div class="container">
          <h2 class="text-center" style="color: #0a98c0;">- Health Check and Audit-</h2>
            <div class="row" style="margin-top: 100px;">
                <div class="col-md-6 col-sm-12">
                    <img class="img-fluid" src="/assets/img/hc and audit.png" height="400px" width="500px">
                </div>
                <div class="col-md-6">
                    <p>
                        Emicon enables its clients to analyze their existing Oracle E-Business Suite implementation and any existing pit-falls or roadblocks in the current solution. A detailed report prepared after due diligence of the system and meeting up with business users is the key deliverable of this activity. We help our clients in:
                    </p>
                    <ul>
                        <li>Defining specific & measurable goals for the business performance</li>
                        <li>Assessing current business model</li>
                        <li>Evaluating the existing business processes</li>
                        <li>Identifying the non-value adding processes and functions</li>
                        <li>Identifying the ways and means to simplify &speed up the critical processes</li>
                        <li>Identifying the solution map to align your business processes with strategic goals</li>
                        <li>Assessing the existing resources & IT infrastructure to determine their optimal utilization or need for retirement</li>
                        <li>Assessing the responsiveness and adaptability status of enterprise in general and work-force in specific towards change.</li>
                        <li>Understanding the training and awareness needs and build and enterprise level training plans which will help to utilize the application effectively</li>
                    </ul>
                    
                </div>
            </div>
            <h2 class="text-center" style="color: #0a98c0;margin-top:50px">- EMICON value proposition-</h2>
            <div class="row" style="margin-top:100px">
                <div class="col-md-6">
                    <ul>   
                        <li>Our team suggests improved return on investment vis-a-vis the initial implementation.</li>
                        <li>Immediate and long-term cost savings that effectively reduce total cost of ownership.</li>
                        <li>Elimination of costly and complicated applications and customizations with standard solutions / boltons</li>
                    </ul>
                </div>
                <div class="col-md-6 img-box">
                    <img src="/assets/img/value.png" class="img-fluid img-responsive" height="380px" width="380px">
                </div>
            </div>
        </div> -->
        <div class="container-fluid" style="  padding-left: 0rem; padding-right: 0rem; overflow-x: hidden;">
            <header>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div  style="background-image:url('/assets/img/hca.jpg')" class="img-fluid carousel-item active">
                      <div class="carousel-caption d-none d-md-block">
                        <h3 class="display-3" style="color: white; font-size: 4vw; font-weight: 900; text-align: left;">Health Check and Audit</h3>
                      </div>
                    </div>
                  </div>
                  </div>
              </header>
              <div class="row">
                  <div class="col-md-1 col-lg-1 col-xl-1"></div>
                  <div class="col-md-10 col-lg-10 col-xl-10">
                      <p style="font-weight: 600; margin-top:50px; margin-bottom: 50px;"> Emicon enables its clients to analyze their existing Oracle E-Business Suite implementation
                         and any existing pit-falls or roadblocks in the current solution. A detailed report prepared after due diligence of the system and meeting up with business 
                         users is the key deliverable of this activity. We help our clients in:
                    </p>
                  </div>
                  <div class="col-md-1 col-lg-1 col-xl-1"></div>
              </div>
              <div class="row" style="background-image: linear-gradient(to left, #e9fffe, #e6fefe, #e2fdfd, #dffbfd, #dcfafd); padding: 10px;">
                <div class="col-md-2 col-lg-2 col-xl-2"></div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" style="margin-top:80px;">
                    <img src="/assets/img/bi1.jpg" class="img-fluid">
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" style="margin-top:80px; ">
                    <h3>We help our clients in:</h3>
                    <ul style="font-weight: 600; margin-top:50px;">
                        <li>Defining specific & measurable goals for the business performance</li>
                        <li>Assessing current business model</li>
                        <li>Evaluating the existing business processes</li>
                        <li>Identifying the non-value adding processes and functions</li>
                        <li>Identifying the ways and means to simplify &speed up the critical processes</li>
                        <li>Identifying the solution map to align your business processes with strategic goals</li>
                        <li>Assessing the existing resources & IT infrastructure to determine their optimal utilization or need for retirement</li>
                        <li>Assessing the responsiveness and adaptability status of enterprise in general and work-force in specific towards change.</li>
                        <li>Understanding the training and awareness needs and build and enterprise level training plans which will help to utilize the application effectively</li>
                    </ul>     
                  </div>
                  <div class="col-md-2 col-lg-2 col-xl-2"></div>
              </div>
              <div class="row" style="padding: 10px;">
                <div class="col-md-2 col-lg-2 col-xl-2"></div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <h3 style="margin-top:100px;">Emicon Value Proposition:</h3>
                    <ul style="font-weight: 600; margin-top: 50px;">  
                        <li>Our team suggests improved return on investment vis-a-vis the initial implementation.</li>
                        <li>Immediate and long-term cost savings that effectively reduce total cost of ownership.</li>
                        <li>Elimination of costly and complicated applications and customizations with standard solutions / boltons</li>
                    </ul> 
                </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" style="margin-top:90px; margin-left: 50px; ">
                    <img src="/assets/img/bi2.jpeg" class="img-fluid">     
                  </div>
                  <div class="col-md-2 col-lg-2 col-xl-2"></div>
              </div>
        </div>
    <!-- </div> -->
</section>