<header id="header" >
    <div id="topbar">
     <div class="container-fluid">
       <div class="social-links">
        <a routerLink="/" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a routerLink="/" class="twitter"><i class="fa fa-twitter"></i></a>
        <a routerLink="/" class="twitter"><i class="fa fa-envelope"></i></a>
        <a routerLink="/" class="twitter"><i class="fa fa-phone"></i></a>
       </div>
     </div>
   </div>

   <div class="container-fluid">   
     <div class="logo float-left">
       <a href="/" class="scrollto"><img id="mainlogo" src="assets/img/logo-doe.png" height="50px" alt="logo" class="img-fluid"></a>
     </div>
     <div class="aabc"><font class="abc" (click)="openNav()">&#9776;</font>
     </div>
   </div>
   <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <div class="overlay-content">
      <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <font><i class="fa fa-sun-o" style="font-size:20px;color:dodgerblue"></i>&nbsp;Services</font>
                <div class="vl">
                    <p><a routerLink="/train">Training</a></p>
                    <p><a routerLink="/ms">Managed Services</a></p>
                    <p><a routerLink="/implement">Implementation</a></p>
                    <p><a routerLink="/pm">Program Management</a></p>
                    <p><a routerLink="/or12">Oracle R12 Upgrade Services</a></p>
                    <p><a routerLink="/hc">Health Check & Audit Services</a></p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <font><i class="fa fa-search-plus" style="font-size:20px;color:dodgerblue"></i>&nbsp;Solutions</font>
                <div class="vl1">
                <p><a routerLink="/crm">CRM</a></p>
                <p><a routerLink="/epm">Hyperion(EPM)</a></p>
                <p><a routerLink="/orcloud">Oracle Cloud Solution</a></p>
                <p><a routerLink="/bi">Business Intelligence(BI)</a></p>
                <p><a routerLink="/erp">Oracle E-Business Suite(ERP)</a></p>
              </div>
              </div>
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
              <font><i class="fa fa-briefcase" style="font-size:20px;color:dodgerblue"></i>&nbsp;Industries</font>
              <div class="vl2">
                <p><a routerLink="/hci">Healthcare</a></p>
                <p><a routerLink="/banki">Banking</a></p> 
              </div>
          </div>
        </div>
        <div class="row" style="margin-top:3%;">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <font><i class="fa fa-vcard-o" style="font-size:20px;color:dodgerblue"></i>&nbsp;About Us</font>
                <div class="vl4">
                <p><a routerLink="/career">Careers</a></p>
                <p><a routerLink="/about">Company Overview</a></p>
                <p><a routerLink="/leader">Executive Leadership</a></p>
                <p><a routerLink="/vision">Vision,Mission & Values</a></p>
                </div>
              </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
              <font><i class="fa fa-eye" style="font-size:20px;color:dodgerblue"></i>&nbsp;Insights</font>
              <div class="vl5">
              <p><a routerLink="/">News</a></p>
              <p><a routerLink="/">Blog</a></p>
              <p><a routerLink="/">Events</a></p>
              <p><a routerLink="/">Photo Gallery</a></p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <font><a routerLink="/clients" style="color: #818181;"><i class="fa fa-users" style="font-size:20px;color:dodgerblue"></i>&nbsp;Our Clients</a></font>
                <font><a routerLink="/clients" style="color: #818181;"><i class="fa fa-newspaper-o" style="font-size:20px;color:dodgerblue"></i>&nbsp;Blogs</a></font>
                <font><a routerLink="/clients" style="color: #818181;"><i class="fa fa-phone" style="font-size:20px;color:dodgerblue"></i>&nbsp;Contact Us</a></font>
                <!-- <div class="vl3">
                <p><a>Emerson</a></p>
                <p><a>Infosys</a></p>
                <p><a>KPMG</a></p>
                <p><a>King Hamad University Hospital</a></p>
                </div> -->
              </div>
          </div>
      </div>
    </div>
  </div>
</header>



