<app-header></app-header>
<section id="businessintelligence" class="section-bg" style="padding-top: 170px; background-color: #f2f2f2; " >
    <div class="demo ">
        <div class="container" style=" border-radius: 5px;">
            
                <div class="row">
                        <img class="col-md-10 col-lg-10 col-xl-10 col-sm-0 col-xs-0 img-responsive" height="220px;" src='/assets/img/crm.jpg'   style="border-radius: 10px; " >
                </div>

            <div class="row" style="margin-top: 10px;">
                    <div class="col-md-4 col-sm-4" style="margin-top: 50px;">
                            <img class="img-responsive img-fluid" src="/assets/img/crmm.png" >
                    </div>
                    <div class="col-md-8 col-sm-8 ">
                        <h2 class="text-center" style="color:red; margin-top: 20px;">- CRM -</h2>
                      <p>Emicon, a key player in Oracle E-Business Suite helps its client by providing
                           analytical solutions for the business information gathered from different legacy 
                           systems or Oracle ERP.</p>
                        <p>Through Oracle Business Intelligence (BI), we help business users to 
                            transform data into dashboards and reports in a more optimized manner. It also 
                            reduces cost and dependencies of user over other IT personnel’s.</p>
                        <p>One of the major challenges involved in BI practice is to provide BI solutions in
                             order to help client in building their strategic information. Therefore, through Oracle 
                             BI we help organization in implementing and maintaining their solutions with a view to
                              gain maximize return on their investments.</p>
                              <p>Emicon is expertise in providing implementation and solution support for
                                   following areas of Oracle Business Intelligence Tools:</p>
                  <p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                    
                    &nbsp; &nbsp; Enterprise BI Platform.</p>
              
              <p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                &nbsp; &nbsp;   Mobile BI.
                <p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                    &nbsp; &nbsp; OLAP Analytics.</p>
                    <p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                        &nbsp; &nbsp; Enterprise Reporting.</p>

                        <p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                            &nbsp; &nbsp;      Scoreboard and Strategy Management.</p>         
            </div>
                </div>
        </div>
    </div>
    </section>