<app-header></app-header>
<section id="or12">
  <div id="imgbox"></div>
  <div class="page1">
    <h1 class="text-center">Oracle R12 Upgrade Services</h1>
    <div class="box">
        <div class="box2">
            <img src="/assets/img/upgrade.png" class="img-fluid">
        </div>
      <div class="box1">
          <h3>Emicon offers following R12 upgrade services:</h3>
        <ul>
          <li>Overall Program Management</li>
          <li>Database upgrades and Administration</li>
          <li>Upgrade Readiness Assessment</li>
          <li>Upgrade Planning and Preparation</li>
          <li>Technical & Application Upgrade</li>
          <li>Data Migration and Validation</li>
          <li>Custom Components – Assessment, Retrofit & Redeployment</li>
          <li>User Change Management</li>
          <li>Testing and Validation</li>
          <li>
            Training and User Adoption through usage of tools and boot camps
          </li>
          <li>Post upgrade support</li>
          <li>Technical architecture planning and design</li>
          <li>Database upgrades</li>
          <li>Application upgrades with new utilities</li>
          <li>New feature training</li>
          <li>Custom development expertise</li>
        </ul>
      </div>
      
    </div>
  </div>
</section>
