<app-header></app-header>
<section id="hc" class="section-bg" style="padding-top: 170px; padding-bottom: 40px;" ng-controller="TabsDemoCtrl">
   
    <div class="container">
            <h2 class="text-center" style="font-weight: 600">Healthcare</h2>
            <h3 class="text-center">Oracle Healthcare Cloud Services</h3>
        <tabset active="active">
            <tab index="0" heading="Oracle Financials in Healthcare"><div class="row" style="margin-left:2%">
                    <div class="col-md-6" style="margin-top:100px">
                        <h4>Oracle Financials in Healthcare</h4>
                        <h6>Transform a Healthcare finance and operations in organizations with Oracle ERP Cloud.</h6>
                        <ul style="font-size: 2vh;">
                            <li>Reduce Costs with more efficient, standardized financial processes</li>
                            <li>Make informed decisions to optimize resources</li>
                            <li>Effective control on your AR</li>
                            <li>Efficiently manage and report on grant awards</li>
                            <li>Share information across the organization</li>
                            <li>ERP, HCM and Healthcare big data together</li>
                        </ul>
                    </div>
                    <div class="col-md-6"><img class="img-fluid" style="margin-top:50px" src="/assets/img/hci1.png" height="200px" width="300px">
                    </div>
                </div></tab>
            <!-- <tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}">
              {{tab.content}} 
            </tab>  -->
            <tab index="1" heading="Oracle HR in Healthcare"><div class="row" style="margin-top: 100px;margin-left:2%">
                    <div class="col-md-6">
                        <h4>Oracle HR in Healthcare</h4>
                        <h6>Transform your organization for the future with the oracle HCM Cloud. Benefit from an an intelligent, personal, adaptable, and complete solution that helps your workforce thrive Engage employees and attract top talent with Oracle HCM Cloud for healthcare organizations.</h6> 
                        <ul style="font-size: 2vh;">
                            <li>Reduce Costs with more efficient, standardized financial processes</li>
                            <li>Make informed decisions to optimize resources</li>
                            <li>Effective control on your AR</li>
                            <li>Efficiently manage and report on grant awards</li>
                            <li>Share information across the organization</li>
                            <li>ERP, HCM and Healthcare big data together</li>
                        </ul>
                    </div>
                    <div class="col-md-6"><img class="img-fluid" style="margin-top: 10px" src="/assets/img/hci2.png" height="500px" width="400px">
                    </div>
                </div></tab>
            <tab index="2" heading="Integrated Supply Chain in healthcare"><div class="row" style="margin-top: 100px;margin-left:2%">
                    <div class="col-md-6">
                        <h4>Integrated Supply Chain in healthcare</h4>
                        <h6>Supply chain is the 2nd biggest contributor after manpower to the healthcare costing. Healthcare organizations are ssearching for ways to make healthcare more affordable, by reducing operational costs and creating efficiencies across their supply chains. Make better decisions faster with a planning model that controls your entire supply chain.</h6> 
                        <ul style="font-size: 2vh;">
                            <li>Optimization of stocking locations and replenishment logic based upon forward looking intelligence</li>
                            <li> Dynamically resizing PAR and safety stock levels based upon both policy decisions as well as forecasted variability</li>
                            <li>Make supplier relationships more strategic by sharing more accurate usage forecasts for contract commitments, negotiations, and forward buys</li>
                            <li>Leverage visibility into physician preference and their impact to help create the business case to rationalize supply or number of vendors</li>
                        </ul>
                    </div>
                    <div class="col-md-6"><img class="img-fluid" src="/assets/img/hci3.jpg" height="400px" width="400px">
                    </div>
                </div></tab>
        </tabset>
    </div>
</section>