<app-header></app-header>
<section id="businessintelligence" class="section-bg" style=" background-color: #f2f2f2; " >
    <!-- <div class="demo ">
        

        <div class="container" style=" border-radius: 5px;">

            <div class="row">
                    <img class="col-md-10 col-lg-10 col-xl-10 col-sm-0 col-xs-0 img-responsive" src='/assets/img/bi.png' height="190px;"  style="border-radius: 10px; " >
            </div>

            <div class="row" style="margin-top: 10px;">
                    <div class="col-md-4 col-sm-0" style="margin-top: 50px;">
                            <img class="img-responsive img-fluid" src="/assets/img/oraclecloud.png" >
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <h2 style=" text-align:center; color:red; margin-top: 20px;">- Business Intelligence -</h2>
                      <p style="text-align: center;">The success or failure of any organization depends on how promptly you respond to
                           today’s ever changing market situations. Business Intelligence solutions enable companies 
                           with the necessary insight and agility to make decisions better and quicker. Oracle Business
                            Intelligence solutions employs technologies, processes, and applications to analyze data 
                            and generate graphical user-friendly reports. It helps gain deep understanding of and 
                            insight into your business which, in turn, helps to make smarter business decisions and gain
                             an edge over your competition.</p>
                        <p style="text-align: center;">Emicon – A reckoned and proven leader in BI consistently provides solutions that
                             boost profits, cut down costs, improvise efficiency, accountability and productivity, 
                             and last but not least lend an acumen needed to be successful. Our offered BI solutions
                              will address both your functional and cross functional needs like –</p>
                        <h2 style="text-align: center;"><b>Oracle Business Intelligence Foundation Suite:</b></h2>
                        <p style="width:90%; text-align: center;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                    
                    &nbsp; &nbsp; Eliminate cost redundancy by standardizing on a single business intelligence platform.</p>
              <p style="width:90%; text-align: center;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                &nbsp; &nbsp;   Serve all users across the enterprise and meet the complete spectrum of reporting, analysis, modeling,
                 and forecasting requirements.
               <p style="width:90%; text-align: center;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                    &nbsp; &nbsp; Empower business users to quickly and easily create reports and queries without reliance on IT.</p>
                    <p style="width:90%; text-align: center;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                        &nbsp; &nbsp; Centralize the definition of all metrics, calculations, and measures to ensure a single version of the truth.</p>

                        <p style="width:90%; text-align: center;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                            &nbsp; &nbsp;      Embed business intelligence directly into business process workflows.</p>         
            </div>
                </div>
        </div>
    </div> -->
    <div class="container-fluid" style="  padding-left: 0rem; padding-right: 0rem; overflow-x: hidden;">
        <header>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div  style="background-image:url('/assets/img/obi.png')" class="img-fluid carousel-item active">
                  <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4" style="color: white;  font-size: 3vw; font-weight: 600; text-align: left;">Business Intelligence</h3>
                  </div>
                </div>
              </div>
              </div>
          </header>
          <div class="row">
              <div class="col-md-1 col-lg-1 col-xl-1"></div>
              <div class="col-md-10 col-lg-10 col-xl-10">
                  <p style="font-weight: 600; margin-top:50px; margin-bottom: 10px;">The success or failure of any organization depends on how promptly you respond to
                    today’s ever changing market situations. Business Intelligence solutions enable companies 
                    with the necessary insight and agility to make decisions better and quicker. Oracle Business
                     Intelligence solutions employs technologies, processes, and applications to analyze data 
                     and generate graphical user-friendly reports. It helps gain deep understanding of and 
                     insight into your business which, in turn, helps to make smarter business decisions and gain
                      an edge over your competition.</p>
                      <p style="font-weight: 600;"><strong>Emicon</strong> – A reckoned and proven leader in BI consistently provides solutions that
                        boost profits, cut down costs, improvise efficiency, accountability and productivity, 
                        and last but not least lend an acumen needed to be successful. Our offered BI solutions
                         will address both your functional and cross functional needs like</p>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1"></div>
          </div>
          <div class="row" style="background-image: linear-gradient(to left, #e9fffe, #e6fefe, #e2fdfd, #dffbfd, #dcfafd); padding: 10px;">
            <div class="col-md-2 col-lg-2 col-xl-2"></div>
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img src="/assets/img/pm1.png" class="img-fluid">
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" style="margin-top:50px; ">
                <h3>Oracle Business Intelligence Foundation Suite:</h3>
                <ul>
                    <li>Eliminate cost redundancy by standardizing on a single business intelligence platform.</li>
                    <li>Serve all users across the enterprise and meet the complete spectrum of reporting, analysis, modeling, and forecasting requirements.</li>
                    <li>Empower business users to quickly and easily create reports and queries without reliance on IT.</li>
                    <li>Centralize the definition of all metrics, calculations, and measures to ensure a single version of the truth.</li>
                    <li>Embed business intelligence directly into business process workflows.</li>
                </ul>    
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2"></div>
          </div>
    </div>
    </section>