<app-header></app-header>
<div class="container-fluid" >
    <div class="row">
        <div class="header" >
            <!--Content before waves-->
            <div class="inner-header flex">
            <h1 style="font-weight: 300; color: black; MARGIN-TOP:180px;">Oracle Cloud Solution</h1>
            </div>
            
            <!--Waves Container-->
            <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
            </svg>
            </div>
            <!--Waves end-->
            
            </div>
        <div class="col-md-1 col-lg-1 col-xl-1 col-sm-1"></div>
        <div class="col-md-10 col-lg-10 col-xl-10 col-sm-10">
        <!-- <h1 style="text-align: center; font-weight: 700; color: dodgerblue;">Managed Services</h1> -->
        <p style="margin-top: 40px; font-weight: 600; color:gray; ">Emicon helps businesses to capitalize on its speed, scale, control and to transform their business using Cloud
            Computing in which application systems are involved which are executed within the cloud and administer through internet enabled devices. By implementing a new
             infrastructure, we are modifying the process of delivering IT services.</p>
        </div>
        <div class="col-md-1 col-lg-1 col-xl-1 col-sm-1"></div>
    </div>
    <div class="row" style="margin-top:2%; background-image: linear-gradient(to left, #e9fffe, #e6fefe, #e2fdfd, #dffbfd, #dcfafd);">
        <div class="col-md-2 .col-lg-2 .col-xl-2"></div>
        <div class="col-md-4 .col-lg-4 .col-xl-4 col-sm-6">
            <img src="/assets/img/ms1.png" class="img-fluid">      
        </div>
        <div class="col-md-4 .col-lg-4 .col-xl-4 col-sm-6" style="margin-top:1%;">
            <h6 style="font-weight: 200;">
                By implementing cloud computing, we help the users to take the beneﬁt from the technologies which are being implemented, without having the need for deep knowledge 
                about or expertise in these technologies and aim to cut costs, and help the users focus on their core business instead of the implementation and setup. With the
                 help of Cloud Computing, we are providing broad network access having the capabilities that is accessed through standard mechanism that is used by different client
                  platforms i.e. mobile phones, tablets, laptops and workstations etc. We provide services by deploy models like
            </h6>
            <ul style="margin-top:40px;">
                <li><strong>Private Cloud:</strong> We provide cloud infrastructure which is operated only for a single organization.</li>
                <li><strong>Public Cloud:</strong>We also provide cloud infrastructure in which the services are rendered over a network and is open for public use.</li>
                <li><strong>Hybrid Cloud</strong>We are also providing Hybrid cloud which is a composition of two or more clouds (private, community or public) that
                     remain distinct entities but are bound together, offering the benefits of multiple deployment models. Hybrid cloud can also mean the ability to connect 
                     collocation, managed and/or dedicated services with cloud resources.</li>
            </ul>
        </div>
        <div class="col-md-2 .col-lg-2 .col-xl-2"></div>
    </div>
</div>