<app-header></app-header>
<section id="vision" class="section-bg " style="padding-top: 210px;  background-color: #f2f2f2;" >
    <!-- <div class="demo ">
            
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h3 style="color:#1bb1dc;" class="text-center">- Vision -</h3>
               <p style="width:70%;">Enabling our employees to accelerate growth of our customers and create value for the society globally.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                        <img class="img-responsive img-fluid" src="/assets/img/vi.png" >
                </div>
                
            </div>
            <div class="row" style="margin-top: 90px;">
                
                    <div class="col-md-8 col-sm-8">
                        <h3 style="color:#1bb1dc;" class="text-center">- Mission -</h3>
                      <p style="width:90%;"><i class="fa fa-handshake-o" style="color:#1bb1dc; " aria-hidden="true"></i>
                        <font style="color: #1bb1dc">Workforce :</font> 
                        Hiring Effective Work Force which can be trained to meet our evolving client needs.</p>
                   
                  <p style="width:90%;"><i class="fa fa-handshake-o" style="color:#1bb1dc; " aria-hidden="true"></i>
                    <font style="color: #1bb1dc">Innovation :</font> 
                    Drill down into new domains with specialized Product and Solutions through collaborative work with partners.</p>
              
              <p style="width:90%;"><i class="fa fa-handshake-o" style="color:#1bb1dc; " aria-hidden="true"></i>
                <font style="color: #1bb1dc">Competitive Advantage To Customer :</font> 
                Adding competitive advantages to Customer by providing best leading practices across business domains.
                <p style="width:90%;"><i class="fa fa-handshake-o" style="color:#1bb1dc; " aria-hidden="true"></i>
                    <font style="color: #1bb1dc">Good Governance :</font> 
                    Following Best Practices in terms of compliance that will lead to fairness and integrity towards the organization and its customers.
                    <p style="width:90%;"><i class="fa fa-handshake-o" style="color:#1bb1dc; " aria-hidden="true"></i>
                        <font style="color: #1bb1dc">Corporate Social Responsibility :</font> 
                        Responsive towards the Society by contributing towards educational and social programs.
            </div>
            <div class="col-md-4 col-sm-4" style="margin-top: 50px;">
                    <img class="img-responsive img-fluid" src="/assets/img/mi.png" >
            </div>  
                </div>
        </div>
    </div> -->
    <div id="about" class="container-fluid">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-sm-1"></div>
          <div class="col-sm-7">
            <h2 style="text-align: center;">About Company Page</h2><br>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <br><button class="btn btn-primary btn-lg">Get in Touch</button>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-3" style="margin-top:120px;">
            <span><a href="/" class="scrollto"><img id="mainlogo" src="assets/img/logo.png" height="50px" alt="logo" class="img-fluid"></a></span>
          </div>
        </div>
      </div>
      
      <div class="container-fluid bg-grey" >
        <div class="row" style="background-image: linear-gradient(to left, #e9fffe, #e6fefe, #e2fdfd, #dffbfd, #dcfafd);">
          <div class="col-sm-1"></div>
            <div class="col-sm-3" style="margin-top:40px;">
            <span class="fa fa-globe" style="font-size:250px;color: dodgerblue;"></span>
          </div>
          <div class="col-sm-7" style="padding: 20px;">
            <h2>Our Values</h2><br>
            <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
            <p><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
      
      <!-- Container (Services Section) -->
      <div id="services" class="container-fluid text-center" style="margin-top:50px;">
        <h2>SERVICES</h2>
        <h4>What we offer</h4>
        <br>
        <div class="row slideanim" style="margin-top:50px;">
          <div class="col-sm-4">
            <span class="fa fa-plug fa-3x"></span>
            <h4>POWER</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
          <div class="col-sm-4">
            <span class="fa fa-heart fa-3x" style="color: red;"></span>
            <h4>LOVE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
          <div class="col-sm-4">
            <span class="fa fa-check fa-3x"style="color: brown;"></span>
            <h4>JOB DONE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
        </div>
        <br><br>
        <div class="row slideanim">
          <div class="col-sm-4">
            <span class="fa fa-tree fa-3x" style="color: green;"></span>
            <h4>GREEN</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
          <div class="col-sm-4">
            <span class="fa fa-check-circle-o fa-3x"></span>
            <h4>CERTIFIED</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
          <div class="col-sm-4">
            <span class="fa fa-briefcase fa-3x"></span>
            <h4 style="color:#303030;">HARD WORK</h4>
            <p>Lorem ipsum dolor sit amet..</p>
          </div>
        </div>
      </div>
    </section>