<section id="solution">
  <div class="page1">
    <div class="box container">
      <div class="box1">
        <h1>
          Our solutions <br />
          and Integration
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
          exercitationem magnam atque ex accusantium, numquam explicabo
          architecto eos? Ducimus ullam voluptatem adipisci hic unde nobis
          quaerat libero ipsa. Ipsa, magnam!
        </p>
        <a routerLink="/career">
          <div class="boxx foo">
            Learn More
          </div>
        </a>
      </div>
      <div class="empty"></div>
      <div class="box2">
        <div class="dabba text-center">
            <h4>EPM</h4>
         <p> Hyperion</p>
        </div>
        <div class="dabba text-center">
            <h4>OCS</h4>
         <p> Oracle <br> Cloud Solution</p>
        </div>
        <div class="dabba text-center">
            <h4>BI</h4>
         <p> Business <br> Intelligence</p>
        </div>
        <div class="dabba text-center">
            <h4>ERP</h4>
           <p> Oracle <br> E-Business Suite</p></div>
      </div>
    </div>
  </div>
</section>
