<section id="hire">
  <div class="heading">
    <h1>Why Emicon ?</h1>
  </div>
  <div class="box">
    <div class="empty"></div>
    <div class="column1">
      <h2>Hire Developers</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fuga
        accusamus vel doloremque? Ducimus quod aliquid quo, voluptates expedita
        laboriosam reiciendis nam cum similique aperiam facere error ad vitae
        ratione!
      </p>
      <a routerLink="/career">
        <div class="boxx foo">
          Learn More
        </div>
      </a>
    </div>
    <div class="space"></div>
    <div class="column2">
    </div>
    <div class="empty"></div>
  </div>
  <div class="box">
    <div class="empty"></div>
    <div class="column1">
      <h2>Work for Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab fuga
        accusamus vel doloremque? Ducimus quod aliquid quo, voluptates expedita
        laboriosam reiciendis nam cum similique aperiam facere error ad vitae
        ratione!
      </p>
      <a routerLink="/career">
        <div class="boxx foo">
          Learn More
        </div>
      </a>
    </div>

    <div class="space"></div>
    <div class="column2">
    </div>
    <div class="empty"></div>
  </div>
</section>
