
<app-header></app-header>
<section id="implementation" class="section-bg" style="padding-top: 170px;" >
    <!-- <div class="demo "> -->
        <!-- <div class="container">
          <h2 class="text-center" style="color: #0a98c0;">- Implementation -</h2>
            <div class="row" style="margin-top: 100px;">
                <div class="col-md-6">
                    <img class="img-fluid" src="/assets/img/imple.png">
                </div>
                <div class="col-md-6">
                    <p>
                        Emicon Advisory Services brings on table proven Oracle expertise and a unique workable approach based on individual customer specific needs for Oracle Apps implementation. Our customized Oracle applications facilitate information-driven business processes that connect, automate and energize your business and at the same time enable management to take informed decisions. We cater to all the major aspects of application requirements and deploy Oracle applications for the following purposes
                    </p>
                    <ul>
                        <li>Enterprise Performance Management</li>
                        <li>Customer Relationship Management</li>
                        <li>Financial Management</li>
                        <li>Human Capital Management</li>
                        <li>Procurement</li>
                        <li>Project Management</li>
                        <li>Supply Chain Management</li>
                        <li>Oracle Technology Products</li>
                    </ul>
                </div>
            </div>
        </div> -->
        <div class="container-fluid">
            <div class="ab">
              <div class = "name">
                <a  target="_blank">Implementation</a>
              </div>
            </div>
            <div class="row" style="margin-top: 1%; background-image: linear-gradient(to left, #e9fffe, #e6fefe, #e2fdfd, #dffbfd, #dcfafd); ">
                <div class="col-md-1 col-lg-1 col-xl-1"></div>
                <div class="col-sm-12 col-md-10 .col-lg-10 col-xl-10">
                    <p style=" font-weight:bolder; margin-top:22px;">
                        Emicon Advisory Services brings on table proven Oracle expertise and a unique workable approach based on individual customer
                         specific needs for Oracle Apps implementation. Our customized Oracle applications facilitate information-driven business 
                         processes that connect, automate and energize your business and at the same time enable management to take informed decisions.
                          We cater to all the major aspects of application requirements and deploy Oracle applications for the following purposes -
                    </p>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1"></div>
            </div>
            <div class="row" style=" background-image: linear-gradient(to left, #e9fffe, #e6fefe, #e2fdfd, #dffbfd, #dcfafd);  padding: 10px;">
                <div class="col-md-2 col-lg-2 col-xl-2"></div>
                <div class="col-sm-12 col-md-4 .col-lg-4 col-xl-4 mt-4">
                <img src="/assets/img/imple.png" class="img-fluid rounded-circle">
                </div>
                <div class="col-sm-12 col-md-4 .col-lg-4 col-xl-4" style="margin-top:40px;">
                    <h3 style="font-weight:500;">Following purposes are -</h3>
                    <ul style="font-weight: 600; font-size: 1vw;">
                        <li>Enterprise Performance Management</li>
                        <li>Customer Relationship Management</li>
                        <li>Financial Management</li>
                        <li>Human Capital Management</li>
                        <li>Procurement</li>
                        <li>Project Management</li>
                        <li>Supply Chain Management</li>
                        <li>Oracle Technology Products</li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2"></div>
            </div>
        </div>
    <!-- </div> -->
</section>