<section id="services" class="section-bg" ng-style="serviceStyle">
        <div class="container">
            <h1 class="text-center" id="title">SERVICES</h1>
               <div class="row" style="margin-top:40px;">
              <div class="col-lg-4 col-xl-4 col-sm-4 dab col-md-4 col-xs-12 text-center wow slideInLeft kp" data-wow-duration="1.4s">
                        <div class="box-column">
                            <div class="box-top twitter">
                                <i class="fa fa-cloud fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="box-bottom abcd">
                                <div class="box-title twitter-title">Cloud<br>Computing</div>
                    <div class="box-text">
                        Emicon helps businesses to capitalize on its speed, scale, control and to transform their business using Cloud                </div>
                    <a href="#oraclecloudsolution" class="ll" style="color: skyblue;">GO NOW</a>
                            </div>
                 </div>
              </div>
              <!-- <div class="col-lg-1"></div> -->
              
                <div class="col-lg-4 col-sm-4 col-xl-4 dab col-md-4 col-xs-12 text-center wow bounceInUp kkpp" data-wow-duration="1.4s">
                    <div class="box-column">
                        <div class="box-top instagram">
                            <i class="fa fa-cloud fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="box-bottom abcd">
                            <div class="box-title instagram-title">
                                Oracle<br>E-Buisness Suite
                        </div>
                        <div class="box-text">
                            Emicon, a leading Oracle Enterprise Services and Solution provider, offers customers with cross-business                </div>
                            <a href="#oracle-ebusinesserp" class="ll" style="color: skyblue;">GO NOW</a>
                        </div>
                    </div>
                </div>	 
              <!-- <div class="col-lg-1"></div> -->
              <div class="col-lg-4 col-sm-4 col-xl-4 dab col-md-4 col-xs-12 text-center wow slideInRight kkp" data-wow-duration="1.4s">
                        <div class="box-column">
                            <div class="box-top facebook">
                                <i class="fa fa-cloud fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="box-bottom abcd">
                                <div class="box-title facebook-title">
                         Buisness<br>Intelligence
                      </div>
                       <div class="box-text">
                          The success or failure of any organization depends on how promptly you respond to today's ever changing                </div>
                      <a href="#businessintelligence" class="ll" style="color: skyblue;">GO NOW</a>
                            </div>
                 </div>
              </div>	        
            </div>
            </div>
    
      </section>