<app-header></app-header>
<section id="hc" class="section-bg" style="padding-top: 0; padding-bottom: 40px;" >
        <!-- <div class="demo "> -->
            <!-- <div class="container">
              <h2 class="text-center" style="color: #0a98c0;">- Program Management -</h2>
                <div class="row" style="margin-top: 100px;">
                    <div class="col-md-6 col-sm-12">
                        <img class="img-responsive img-fluid" src="/assets/img/manage2.jpg" height="300px" width="450px">
                    </div>
                    <div class="col-md-6">
                        <p>
                            The organizations undertaking projects of magnitude like that of an ERP business transformation have realized the importance of effective program management for the org-wide initiative. This has brought forth formalized frameworks, methodologies to manage the projects effectively. Emicon delivers Project & Program Management Services to manage projects from planning stage to completion and further handover to in-house team.
                        </p>
                        <h5>Emicon offers following Project & Program Management Services:</h5>    
                        <ul>
                            <li>Business Goals Alignment</li>
                            <li>Benefits Realization</li>
                            <li>Program Measurement</li>
                            <li>Project Governance</li>
                            <li>Organizational Change Management</li>
                        </ul>    
                    </div>
                </div>

                <div class="row" style="margin-top: 100px;">
                    <div class="col-md-6 col-sm-12">
                        <h5>Emicon further helps the organizations during the Project Initiation/Planning Process through following</h5>    
                        <ul>  
                            <li>Identifying the appropriate team structure</li>
                            <li>Identifying the key stakeholders and communicate the roles and responsibilities expected from every team member</li>
                            <li>Identify Expected Road Blocks and seek inputs from in-house team to overcome them</li>
                            <li>Prepare a road map from initializing to completion of vision</li>
                            <li>Break the road map into sizable projects to manage them effectively and reporting the status</li>
                        </ul>     
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive img-fluid" src="/assets/img/manage.jpg" height="300px" width="450px">
                    </div>
                </div>
                <div class="row" style="margin-top: 100px;">
                    <div class="col-md-6 col-sm-12">
                        <img class="img-responsive img-fluid" src="/assets/img/manage3.png" height="450px" width="450px">
                    </div>
                    <div class="col-md-6">
                        <h5>Emicon helps in delivering the Transformation Optimization through following</h5>    
                        <ul>
                            <li>Optimal use of Oracle Products and Technologies</li>
                            <li>Architectural Soundness</li>
                            <li>Optimal Performance in Production</li>
                            <li>Optimal Project Execution</li>
                        </ul>    
                    </div>
                </div>
                <p style="margin-top: 100px;" >Emicon Program management plays a significant role in ensuring that all projects meet operational, cost, budget, and time-related goals. In a complex business renovation scenario, effective program management can help control and manage cross-dependencies across multiple project implementations. Our consultants, experienced in multiple product implementations, work as program managers for reputable organizations around the world. Through these efforts, our practice has built a rich repository of the program-tracking methods, scenarios, and risks inherent within various product implementation projects</p>
            </div> -->
            <div class="container-fluid" style="  padding-left: 0rem; padding-right: 0rem; overflow-x: hidden;">
                <header>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        <div  style="background-image:url('/assets/img/pm123.jpg')" class="img-fluid carousel-item active">
                          <div class="carousel-caption d-none d-md-block">
                            <h3 class="display-3" style="color: white;  font-size: 4vw; font-weight: 900; text-align: left;">Program Management</h3>
                          </div>
                        </div>
                      </div>
                      </div>
                  </header>
                  <div class="row">
                      <div class="col-md-1 col-lg-1 col-xl-1"></div>
                      <div class="col-md-10 col-lg-10 col-xl-10">
                          <p style="font-weight: 600; margin-top:50px; margin-bottom: 50px;">The organizations undertaking projects of magnitude like that of an ERP business transformation have realized the importance of 
                              effective program management for the org-wide initiative. This has brought forth formalized frameworks, methodologies to manage
                               the projects effectively. Emicon delivers Project & Program Management Services to manage projects from planning stage to 
                               completion and further handover to in-house team.</p>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1"></div>
                  </div>
                  <div class="row" style="background-image: linear-gradient(to left, #e9fffe, #e6fefe, #e2fdfd, #dffbfd, #dcfafd); padding: 10px;">
                    <div class="col-md-2 col-lg-2 col-xl-2"></div>
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <img src="/assets/img/pm1.png" class="img-fluid">
                      </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" style="margin-top:50px; ">
                        <h3>Emicon offers following Project & Program Management Services:</h3>
                        <ul style="font-weight: 600; margin-top:50px;">
                            <li>Business Goals Alignment</li>
                            <li>Benefits Realization</li>
                            <li>Program Measurement</li>
                            <li>Project Governance</li>
                            <li>Organizational Change Management</li>
                        </ul>     
                      </div>
                      <div class="col-md-2 col-lg-2 col-xl-2"></div>
                  </div>
                  <div class="row" style="padding: 10px;">
                    <div class="col-md-2 col-lg-2 col-xl-2"></div>
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <h3 style="margin-top:100px;">Emicon further helps the organizations during the Project Initiation/Planning Process through following</h3>
                        <ul style="font-weight: 600; margin-top: 50px;">  
                            <li>Identifying the appropriate team structure</li>
                            <li>Identifying the key stakeholders and communicate the roles and responsibilities expected from every team member</li>
                            <li>Identify Expected Road Blocks and seek inputs from in-house team to overcome them</li>
                            <li>Prepare a road map from initializing to completion of vision</li>
                            <li>Break the road map into sizable projects to manage them effectively and reporting the status</li>
                        </ul> 
                    </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" style="margin-top:90px; margin-left: 50px; ">
                        <img src="/assets/img/pm2.png" class="img-fluid">     
                      </div>
                      <div class="col-md-2 col-lg-2 col-xl-2"></div>
                  </div>
                  <div class="row" style="background-image: linear-gradient(to left, #e9fffe, #e6fefe, #e2fdfd, #dffbfd, #dcfafd);padding: 10px; margin-top:50px;">
                    <div class="col-md-2 col-lg-2 col-xl-2"></div>
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <img src="/assets/img/pm3.png" class="img-fluid">
                      </div>
                      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" style="margin-top:50px; ">
                        <h3>Emicon helps in delivering the Transformation Optimization through following</h3>    
                        <ul style="font-weight: 600; margin-top:50px;">
                            <li>Optimal use of Oracle Products and Technologies</li>
                            <li>Architectural Soundness</li>
                            <li>Optimal Performance in Production</li>
                            <li>Optimal Project Execution</li>
                        </ul>    
                      </div>
                      <div class="col-md-2 col-lg-2 col-xl-2"></div>
                  </div>
            </div>
        <!-- </div> -->
    </section>