<app-header></app-header>
<section id="leader">
  <div id="imgbox"></div>
  <div class="layer"><h2 class="text-center">Our Pillars of Success</h2></div>
  <div class="text">
    <h1 class="text-center">Leaders</h1>
  </div>
  <div class="blocks">
    <figure class="snip0057 red">
      <figcaption>
        <h2>Radhesh Kumar <span>Soni</span></h2>
        <p>
          A voice crackles in Calvin's radio: "Enemy fighters at two o'clock!"
          "Roger. What should I do until then?"
        </p>
        <div class="icons">
          <a href="#"><i class="ion-ios-home"></i></a>
          <a href="#"><i class="ion-ios-email"></i></a>
          <a href="#"><i class="ion-ios-telephone"></i></a>
        </div>
      </figcaption>
      <div class="image">
        <img
          src="/assets/img/rsir.jpg"
          alt="sample4"
          height="450"
        />
      </div>
      <div class="position">CEO and Chief Solution Architect</div>
    </figure>

    <figure class="snip0057 blue">
      <figcaption>
        <h2>Mangesh <span>Mallewadikar</span></h2>
        <p>
          That's the whole problem with science. You've got a bunch of
          empiricists trying to describe things of unimaginable wonder.
        </p>
        <div class="icons">
          <a href="#"><i class="ion-ios-home"></i></a
          ><a href="#"><i class="ion-ios-email"></i></a
          ><a href="#"><i class="ion-ios-telephone"></i></a>
        </div>
      </figcaption>
      <div class="image">
        <img
          src="/assets/img/msir.jfif"
          alt="sample3"
          height="450px"
        />
      </div>
      <div class="position">Chief Strategy Officer</div>
    </figure>

    <figure class="snip0057 pink">
      <figcaption>
        <h2>Rahul <span>Waghale</span></h2>
        <p>
          That's the whole problem with science. You've got a bunch of
          empiricists trying to describe things of unimaginable wonder.
        </p>
        <div class="icons">
          <a href="#"><i class="ion-ios-home"></i></a
          ><a href="#"><i class="ion-ios-email"></i></a
          ><a href="#"><i class="ion-ios-telephone"></i></a>
        </div>
      </figcaption>
      <div class="image">
        <img
          src="/assets/img/rwsir.jpg"
          alt="sample3"
          height="450"
        />
      </div>
      <div class="position">HCM Solutions Practice Head and DC Head,
        Chandigarh</div>
    </figure>
  </div>
</section>
