@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton|Bowlby+One+SC&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
#img-box {
  overflow: hidden;
  max-width: 100%;
  height: 60vh;
  position: relative;
  background: url("/assets/img/train.jpg") top no-repeat;
  background-size: cover;
}
.black-layer {
  position: absolute;
  top: 0;
  height: 60vh;
  width: 100%;
  background: #00bfff;
  opacity: 0.4;
}
.text-box {
  position: absolute;
  color: white;
  top: 25vh;
  left: 15vh;
  h1 {
    font-size: 5vh;
    font-weight: 400;
  }
  span {
    font-size: 6vh;
    font-family: "Anton", sans-serif;
    margin-top: 20px;
  }
}
.page2 {
  position: relative;
  margin-top: 12vh;
  h1 {
    font-size: 10vh;
    font-family: "Bowlby One SC", cursive;
    opacity: 0.8;
  }
  .loader {
    width: 140px;
    height: 140px;
  }

  .loader__inner {
    position: absolute;
    left: 37vw;
    top: -2px;
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 0 -10px 0 0 rgba(0, 77, 64, 0.6),
      -7.5px 5px 0 0 rgba(0, 121, 107, 0.6),
      7.5px 5px 0 0 rgba(0, 150, 136, 0.6);
    animation: rotate 5s linear infinite;
  }
  .loader__inner:nth-child(2) {
    box-shadow: 7.5px -5px 0 0 rgba(49, 27, 146, 0.6),
      -7.5px -5px 0 0 rgba(81, 45, 168, 0.6), 0 10px 0 0 rgba(103, 58, 183, 0.6);
    animation: rotate__other 5s linear infinite;
  }
  .box {
    margin-top: 18vh;
    background: aliceblue;
    width: 100%;
    height: max-content;
    display: flex;
    padding: 50px;
    padding-left: 100px;
    &1 {
      margin-top: 4vh;
      width: 50%;
      font-family: "Montserrat", sans-serif;
    }
    &2 {
      width: 5%;
    }
    &3 {
      margin-top: 10vh;
      width: 45%;
    }
    &4 {
      width: 100%;
    }
  }
}

@keyframes rotate {
  50% {
    transform: scale(1.4) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}

@keyframes rotate__other {
  50% {
    transform: scale(1.5) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(-720deg);
  }
}

.page3 {
  margin-top: 8vh;
  padding: 12px;
  .box-1 {
    display: flex;
    &1 {
      width: 40%;
    }
    &2 {
      width: 10%;
    }
    &3 {
      ul {
        margin-top: 5vh;
      }
      width: 40%;
    }
    &4 {
      width: 10%;
    }
  }
}
@media screen and (min-width: 767px) and (max-width: 1025px) {
    .text-box {
        position: absolute;
        color: white;
        top: 25vh;
        left: 15vh;
        h1 {
          font-size: 3vh;
        }
        span {
            p{
          font-size: 5vh;
          font-family: "Anton", sans-serif;
          margin-top: 20px;
            }
        }
      }
  .page3 {
    .box-1 {
      display: flex;
      &1 {
        margin-top: 12vh;
        width: 40%;
      }
      &3 {
        h1 {
          font-size: 1.4rem;
        }
      }
    }
  }
  p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 450px) and (max-width: 768px) {
    .text-box {
        position: absolute;
        color: white;
        top: 25vh;
        left: 10vh;
        h1 {
          font-size: 2vh;
        }
        span {
            p{
          font-size: 4vh;
          font-family: "Anton", sans-serif;
          margin-top: 20px;
            }
        }
      }
  p {
    font-size: 0.9rem;
  }
  .page2 {
    margin-top: 12vh;
    .loader__inner {
      left: 20vw;
      top: -2px;
    }
    .box {
        padding: 20px;
      display: inline-block;
      &1 {
        margin-top: 4vh;
        width: 100%;
        font-family: "Montserrat", sans-serif;
      }
      &3 {
        margin-top: 10vh;
        width: 100%;
      }
    }
  }
  .page3 {
    margin-top: 8vh;
    padding: 12px;
    .box-1 {
      display: inline;
      &1 {
        width: 100%;
      }
      &2 {
        width: 10%;
      }
      &3 {
        ul {
          margin-top: 5vh;
        }
        width: 100%;
      }
      &4 {
        width: 10%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
    .text-box {
        position: absolute;
        color: white;
        top: 25vh;
        left: 5vh;
        h1 {
          font-size: 2vh;
        }
        span {
            p{
          font-size: 4vh;
          font-family: "Anton", sans-serif;
          margin-top: 20px;
            }
        }
      }
    p {
        font-size: 0.7rem;
      }
      .page2 {
        margin-top: 12vh;
        h1 {
            font-size: 6vh;
            font-family: "Bowlby One SC", cursive;
            opacity: 0.8;
          }
          .loader {
            width: 30px;
            height: 30px;
          }
        .loader__inner {
          left: 20vw;
          top: -2px;
        }
        .box {
            padding: 10px;
          display: inline-block;
          &1 {
            margin-top: 4vh;
            width: 100%;
            font-family: "Montserrat", sans-serif;
          }
          &3 {
            margin-top: 10vh;
            width: 100%;
          }
        }
      }
      .page3 {
        margin-top: 8vh;
        padding: 12px;
        .box-1 {
          display: inline;
          &1 {
            width: 100%;
          }
          &2 {
            width: 10%;
          }
          &3 {
            ul {
              margin-top: 5vh;
            }
            width: 100%;
          }
          &4 {
            width: 10%;
          }
        }
      }
}