<app-header></app-header>

<!-- <section
  id="hc"
  class="section-bg"
  style="padding-top: 170px; padding-bottom: 40px;"
>
  <div class="container">
    <h2 class="text-center" style="color: #0a98c0;">- Training -</h2>
    <h4 class="text-center">Helping You Focus on Core Competencies</h4>
    <div class="row" style="margin-top: 100px;">
      <div class="col-md-6 col-sm-12">
        <img
          class="img-responsive"
          src="/assets/img/train.png"
          height="300px"
          width="550px"
        />
      </div>
      <div class="col-md-6">
        <p>
          Reduce project risk and ensure project success!
          <br /><br />
          Emicon TEAM (Teach, Engage, Aim and Mature) is about the “People” side
          of change management. Even the well-designed system can fail if the
          users are unable or unwilling to perform their roles in the new
          system. Our solutions are scalable and highly flexible to suit the
          diverse project sizes, corporate cultures and budgets.
          <br /><br />
          Emicon TEAM delivers high quality, cost-effective and creative
          solutions to meet the training requirements for Oracle’s E-Business
          Suite and be-spoke solutions delivered along with it. We offer Oracle
          functional and technical training designed to fit into the lifecycle
          of your implementation or upgrade project. From executive courses on
          setting project expectations to workshops for project teams, to
          end-user, job-focused courses, Emicon TEAM empowers your team with the
          skills they need to make the most of your Oracle Application
          investments.
          <br /><br />
          Emicon TEAM comprises experts and management professionals from top
          notch consulting firms and IT Advisory companies to bring onto the
          table the required value and expertise.
        </p>
      </div>
    </div>
    <div class="row" style="margin-top:50px">
      <div class="col-md-6">
        <h3>Our Oracle Training offerings include:</h3>
        <ul>
          <li>
            Executive Team Education – Executives learn what to expect during
            the implementation or upgrade process
          </li>
          <li>
            Full array of courses across the Oracle E-Business Suite that can be
            tailored to address your unique Oracle training requirements
          </li>
          <li>
            Project Team Education – Your team gains skills and insights to make
            solid decisions during implementations or upgrades
          </li>
          <li>
            Technical Team Training – Technical staff learn about the tools that
            support the Oracle E-Business Suite
          </li>
          <li>
            End User Training – End users benefit from role-based, hands-on
            learning and ensure the success of your project with increased user
            adoption
          </li>
          <li>
            Custom Training Solutions – We deliver custom training modules
            suiting your needs and requirements.
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <img
          class="img-responsive"
          src="/assets/img/train2.jpg"
          height="300px"
          width="550px"
        />
      </div>
    </div>
  </div>
</section> -->

<section id="train">
  <div id="img-box"></div>
  <div class="black-layer">
    <div class="text-box">
      <h1 class="wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay="0.5s">
        The Best <br />
      </h1>
      <span
        ><p
          class="wow fadeInRight"
          data-wow-duration="1.4s"
          data-wow-delay="0.5s"
        >
          SQL Training
        </p></span
      >
    </div>
  </div>
  <div class="page2 loader">
    <h1 class="text-center">Training</h1>
    <span class="loader__inner"></span>
    <span class="loader__inner"></span>
    <div class="box">
      <div class="box1">
        <p>
          Reduce project risk and ensure project success! <br />
          <br />

          Emicon TEAM (Teach, Engage, Aim and Mature) is about the “People” side
          of change management. Even the well-designed system can fail if the
          users are unable or unwilling to perform their roles in the new
          system. Our solutions are scalable and highly flexible to suit the
          diverse project sizes, corporate cultures and budgets. <br />
          <br />

          Emicon TEAM delivers high quality, cost-effective and creative
          solutions to meet the training requirements for Oracle’s E-Business
          Suite and be-spoke solutions delivered along with it. We offer Oracle
          functional and technical training designed to fit into the lifecycle
          of your implementation or upgrade project. From executive courses on
          setting project expectations to workshops for project teams, to
          end-user, job-focused courses, Emicon TEAM empowers your team with the
          skills they need to make the most of your Oracle Application
          investments. <br />
          <br />

          Emicon TEAM comprises experts and management professionals from top
          notch consulting firms and IT Advisory companies to bring onto the
          table the required value and expertise. <br />
          <br />
        </p>
      </div>
      <div class="box2"></div>
      <div class="box3">
        <img
          src="/assets/img/train.png"
          alt="training image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
  <div class="page3">
    <div class="box-1">
      <div class="box-11">
        <img src="/assets/img/train2.jpg" class="img-fluid" />
      </div>
      <div class="box-12"></div>
      <div class="box-13">
        <h1 class="text-center">
          Our Oracle Training offerings include: <br />
        </h1>
        <ul>
          <li>
            <p> Executive Team Education – Executives learn what to expect during
            the implementation or upgrade process</p>
          </li>
          <li>
            <p> Full array of courses across the Oracle E-Business Suite that can be
            tailored to address your unique Oracle training requirements</p>
          </li>
          <li>
            <p> Project Team Education – Your team gains skills and insights to make
            solid decisions during implementations or upgrades</p>
          </li>
          <li>
            <p> Technical Team Training – Technical staff learn about the tools that
            support the Oracle E-Business Suite</p>
          </li>
          <li>
            <p> End User Training – End users benefit from role-based, hands-on
            learning and ensure the success of your project with increased user
            adoption</p>
          </li>
          <li>
            <p> Custom Training Solutions – We deliver custom training modules
            suiting your needs and requirements.</p>
          </li>
        </ul>
      </div>
      <div class="box-14"></div>
    </div>
  </div>
</section>
