<app-header></app-header>
<section id="hc" class="section-bg" style="  padding-bottom: 40px;" >
    <!-- <div class="container">
        <h2 class="text-center" style="color: #0a98c0;">
            - Managed Services -
        </h2>
        <div class="row" style="margin-top: 100px;">
            <div class="col-md-6 col-sm-12">
                <img class="img-responsive" src="/assets/img/ms1.png" height="300px" width="450px">
            </div>
            <div class="col-md-6">
                <p>
                    Staying competitive in today’s economic environment requires a constant focus on efficiency, 
                    effectiveness, and continuous cost management across the enterprise. As businesses hone in
                    on the core competencies which differentiate them in the market, it makes sense to consider 
                    ways to bring greater cost predictability to IT and customer service operations, while improving
                    business processes and gaining organizational effectiveness and efficiency. 
                    With Managed Services from Emicon Advisory Services, you can leverage a wide range of 
                    outsourcing options to ensure the stability, scalability, efficiency and cost effectiveness 
                    of your business and IT operations.
                </p>
                <br><br>
                <h6>
                    Emicon Advisory Services following range of managed services, specializing in the areas of:
                </h6>
                <ul>
                    <li><strong>Business Process Services — </strong>Business process improvement and outsourcing</li>
                    <li><strong>Application Management Services — </strong>Maintenance and support across the entire application stack, including ERP applications, custom development, and BI platforms</li>
                    <li><strong>Technology Services — </strong>Maintenance and support for development and production environments and the associated technology stack. Custom Development and usage of EMIBOLTS to help you drive your business needs in a seamless way</li>
                    <li><strong>Infrastructure Management Services — </strong>Featuring Data Center/Operating System/Core Infrastructure maintenance and support</li>
                    <li><strong>Software as a Service — </strong>Focus on Oracle e-Business Suite R12 and CRM</li>
                </ul>   
            </div>
        </div> 
    </div> -->
    <div class="container-fluid">
        <div class="row">
            <div class="header">
                <!--Content before waves-->
                <div class="inner-header flex">
                <h1 style="font-weight: 300; color: black; margin-top:160px;">Managed Services</h1>
                </div>
                
                <!--Waves Container-->
                <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
                </svg>
                </div>
                <!--Waves end-->
                
                </div>
            <div class="col-md-1 col-lg-1 col-xl-1 col-sm-1"></div>
            <div class="col-md-10 col-lg-10 col-xl-10 col-sm-10">
            <!-- <h1 style="text-align: center; font-weight: 700; color: dodgerblue;">Managed Services</h1> -->
            <p style="margin-top: 40px; font-weight: 600; color:gray; ">Staying competitive in today’s economic environment requires a constant focus on efficiency, 
            effectiveness, and continuous cost management across the enterprise. As businesses hone in
            on the core competencies which differentiate them in the market, it makes sense to consider 
            ways to bring greater cost predictability to IT and customer service operations, while improving
            business processes and gaining organizational effectiveness and efficiency. 
            With Managed Services from Emicon Advisory Services, you can leverage a wide range of 
            outsourcing options to ensure the stability, scalability, efficiency and cost effectiveness 
            of your business and IT operations.</p>
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 col-sm-1"></div>
        </div>
        <div class="row" style="margin-top:2%; background-image: linear-gradient(to left, #e9fffe, #e6fefe, #e2fdfd, #dffbfd, #dcfafd);">
            <div class="col-md-2 .col-lg-2 .col-xl-2"></div>
            <div class="col-md-4 .col-lg-4 .col-xl-4 col-sm-6">
                <img src="/assets/img/ms1.png" class="img-fluid">      
            </div>
            <div class="col-md-4 .col-lg-4 .col-xl-4 col-sm-6" style="margin-top:3%;">
                <h6 style="font-weight: 800;">
                    Emicon Advisory Services following range of managed services, specializing in the areas of:
                </h6>
                <ul>
                    <li><strong>Business Process Services — </strong>Business process improvement and outsourcing</li>
                    <li><strong>Application Management Services — </strong>Maintenance and support across the entire application stack, including ERP applications, custom development, and BI platforms</li>
                    <li><strong>Technology Services — </strong>Maintenance and support for development and production environments and the associated technology stack. Custom Development and usage of EMIBOLTS to help you drive your business needs in a seamless way</li>
                    <li><strong>Infrastructure Management Services — </strong>Featuring Data Center/Operating System/Core Infrastructure maintenance and support</li>
                    <li><strong>Software as a Service — </strong>Focus on Oracle e-Business Suite R12 and CRM</li>
                </ul>
            </div>
            <div class="col-md-2 .col-lg-2 .col-xl-2"></div>
        </div>
    </div>
</section>