<app-header></app-header>
<section id="banki" class="section-bg" style="padding-top: 170px; padding-bottom: 40px;" ng-controller="TabsDemoCtrlBank">
    <div class="container">
            <h2 class="text-center" style="font-weight: 600">Banking</h2>
            <h4 class="text-center">Oracle Banking and Financials Cloud Services</h4>
            <h6 class="text-center">Unlock the potential of your Oracle investment with enhanced user experience and efficiencies for your people.</h6>
        <tabset active="active">
            <tab index="0" heading="Oracle Banking Platform"><div class="row" style="margin-left:2%">
                    <div class="col-md-6" style="margin-top:100px">
                        <h3>Oracle Banking Platform</h3>
                        <ul style="font-size: 2vh">
                            <li>On-demand self service –Users are able to provision, monitor and manage computing resources as needed without the help of human administrators</li>
                            <li>Broad network access – Computing services are delivered over standard networks and heterogeneous devices</li>
                            <li>Rapid elasticity – IT resources are able to scale out and in quickly and on an as needed basis</li>
                            <li>Resource pooling – IT resources are shared across multiple applications and tenants in a non-dedicated manner        </li>
                        </ul>
                    </div>
    
                    <div class="col-md-6"><img class="img-fluid" style="margin-top:100px" src="/assets/img/bank.png" height="400px" width="500px">
                    </div>
                </div></tab>
            <!-- <tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}">
              {{tab.content}} 
            </tab>  -->
            <tab index="1" heading="Empower Modern Finance with Financials Cloud"><div class="row" style="margin-top: 100px;margin-left:2%">
                    <div class="col-md-6">
                        <h3>Empower Modern Finance with Financials Cloud</h3>
                        <ul style="font-size: 2vh">
                            <li>On-demand self service –Users are able to provision, monitor and manage computing resources as needed without the help of human administrators</li>
                            <li>Broad network access – Computing services are delivered over standard networks and heterogeneous devices</li>
                            <li>Rapid elasticity – IT resources are able to scale out and in quickly and on an as needed basis</li>
                            <li>Resource pooling – IT resources are shared across multiple applications and tenants in a non-dedicated manner        </li>
                        </ul>
                    </div>
                    <div class="col-md-6"><img class="img-fluid" style="margin-top: 10px" src="/assets/img/bank2.jpeg" height="400px" width="500px">
                    </div>
                </div></tab>
        </tabset>
    </div>
</section>